<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href='/Content/index.css' />

<!-- Heading  -->
 <div class="header"> My Favourites People </div>
 
 <div class="header2">
  
    From Friends <br>
      
        
      </div>
     

<br><br><br>
<br><br><br>
<br><br><br>
<% include partials/footer.ejs %>