 <% include partials/header.ejs %>
 <% include partials/navbar.ejs %>
 <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

         <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">   
     
       <!-- Latest   jQuery -->
      <script src="https://code.jquery.com/jquery-2.1.4.min. js"></script>
  
      <!-- Latest compiled and minified   JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 

<!--People Section -->
<link rel="stylesheet" type="text/css" href='/Content/people.css' />
 <section id="services" class="services">
        <div class="services">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>My Favourite People are...</h2>
                    <hr class="small">
                    <div class="row">

<!-- People  Imgage and paragraph   -->   
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="image">
                                  <img src="/Assets/mp.jpg" class="img-circle" width="250" height="250" >
                                  </span>
                                  <h3> Matthew Perry </h3>
                                 <div class="link"> <a href="https://www.youtube.com/watch?v=1Wn9YiQEMtI">As Chandler Bing</a>
                                 </div>
                                <p> Matthew Langford Perry is an American-Canadian actor and writer.
                                     Perry is known for his role as Chandler Bing on the long-running NBC television sitcom Friends, as well as his portrayal of Ron Clark in the 2006 television movie The Ron Clark Story.
                                      Along with starring in the short-lived television series Studio 60 on the Sunset Strip, Perry has appeared in a number of films, including Fools Rush In (1997), The Whole Nine Yards (2000), and 17 Again (2009).
                                       In 2010, he expanded his résumé to include both video games and voiceover work when he voiced Benny in the role-playing game Fallout: New Vegas.
                                     Perry was the co-creator, co-writer, executive producer and star of the ABC sitcom Mr. Sunshine, which ran from February to April 2011.In August 2012, Perry began starring as Ryan King, a sportscaster, on the NBC sitcom Go On. 
                                     The series was canceled on May 10, 2013.
                                </p>
                               
                            </div>
                        </div>
                      
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                              <span class="image">
                                  <img src="/Assets/cc.jpg" class="img-circle" width="250" height="250" >
                                  </span>
                                <h3> Courteney Cox </h3>
                               <div class="link">   <a href="https://www.youtube.com/watch?v=Qb3M3rkTkhI">As Monica Geller</a>
                               </div>  
                                <p>Courteney Bass Cox is an American actress, producer and director. 
                                    She is best identified for her roles as Monica Geller on the NBC sitcom Friends, Gale Weathers in the horror series Scream, and as Jules Cobb in the ABC/TBS sitcom Cougar Town, for which she earned her first Golden Globe nomination.
                                     Cox also starred in the FX series Dirt. 
                                     She owns a production company, called Coquette Productions, which was created by her and her then-husband David Arquette. 
                                     Cox also worked as a director on her sitcom Cougar Town and the television movie Talhotblond.
                                    </p>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                            <span class="image">
                                  <img src="/Assets/ml.jpg" class="img-circle" width="250" height="250" >
                                  </span>
                                <h3> Matt LeBlanc </h3>
                             <div class="link"><a href="https://www.youtube.com/watch?v=EMINEBDpDsc">As Joey Tribbiani</a> 
                               </div>
                                <p>
                                    Matthew Steven "Matt" LeBlanc is an American actor, comedian, and producer, best known for his role as Joey Tribbiani on the NBC sitcom, Friends.
                                     In 2011, LeBlanc began starring as a fictional version of himself in Episodes, a BBC Two/Showtime television series created by Friends co-creator David Crane and Jeffrey Klarik. 
                                     He won a Golden Globe award for his work on Episodes, and was nominated for an Emmy three times for his work on Friends and four times for Episodes.
                                      On February 4, 2016, it was confirmed by the BBC that he would become one of the presenters of the motoring show Top Gear, which would begin its 23rd series on May 8, 2016.
                                </p>
                               
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


<%- include partials/footer.ejs %>