<style>
/* Body styles */
body {
      background-size: 1400px 700px;
      background-image: url("../Assets/download.jpg");
      background-size : auto;
      }
    
 body  {
     
      background-size: 2560px 1600px;
      background-image: url("../Assets/download.jpg");
      background-size : auto; 
             }

/* Header  */         
.header {
    text-align: center;
    color: white;
    margin-left: 50px;
    font-family: 'Arvo', serif;
    font-size: 4em;
    font-weight: 100;
    position: relative;
    margin-top: 5%;
    letter-spacing: 8px;

} 
    .header2{
    text-align: center;
    color: ghostwhite;
    margin-left: 50px;
    font-family: 'Arvo', serif;
    font-size: 2em;
    font-weight: 400;
    position: relative;
    margin-top: 1%;
    letter-spacing: 7px;
    }
 /* Image  */
 img{
     width: 500px;
     height: 250px;
     margin-top: 3%;
     position: relative;
     
 }

</style>